<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="center-menu">
        <div class="center-menu-content">
            <h1>Edit Profile</h1>
          <section class="center-menu-content-section">
            <form class="center-menu-content-form" action="/profile/editprofile" method="post">
              <section>
                <div class="Form-group">
                  <div class="Label-form-group">
                    <label class="LabelInner">Username</label>
                  </div>
                  <input class="Input" name="name" type="text" placeholder="<%= user.name %>" value="<%= user.name %>">
                </div>
                <div class="Form-group">
                  <div class="Label-form-group">
                    <label class="LabelInner">Gender</label>
                  </div>
                  <div class="Label-form-group">
                    <select class="Input" name="gender">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                      <option value="none">Prefer not to say</option>
                    </select>
                  </div>
                  <div class="Label-form-group">
                    <label class="LabelInner">Your unique id: <%-user._id-%></label>
                  </div>
                </div>
              </section>
              <div class="edit-profile-buttons">
                <a type="button" class="Button-secondary" href="/profile/account">Cancel</a>
                <button>
                  <span class="ButtonInner">Save</span>
                </button>
              </div>
            </form>
          </section>
        </div>
      </div>
  </body>
</html>