<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Playlist</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="bubble">
      <div style="padding: 3rem">
    <h1 class="playlist-title"><%= playlist.title %></h1>

    <!-- Display each song in the playlist -->
    <ul class="song-list">
      <% for(let i=0; i<playlist.songs.length; i++){ %>
        <li><h3><%= playlist.songs[i].name %> - <%= playlist.songs[i].artist %></h3></li>
      <% } %>
    </ul>
    <br>
    <h1>Collaborators</h1>
    <ul class="collaborators-list">
      <% for(let i=0; i<collaborators.length; i++){ %>
        <li><h3><%= collaborators[i].name %> - <%= collaborators[i].id %></h3></li>
      <% } %>
    </ul>
    <a class="button-like-link" href="/profile/edit/<%= playlist._id %>">Edit Playlist</a>
  </body>
</div>
</div>
</html>
