<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class ="bubble">
      <div style="padding: 3rem">
        <h1 class="username-playlists"><%= user.name %>'s playlists</h1>
      <% if(posts.length > 0){ %>
      <% for(let i=0; i<posts.length; i++){ %>
        <section class="playlists-section">
          <div class="playlist-card">
            <div class="playlist-card-body">
              <!-- Add a link to the playlist page for each playlist -->
              <a href="/profile/playlist/<%= posts[i]._id %>">
                <h5 class="playlist-card-title"><%= posts[i].title %></h5>
              </a>        
            </div>
          </div>
        </section>
      <% } %>
    <% } %>
      <h1 class="username-playlists"><%= user.name %>'s collab playlists</h1>
      <% if(collaborativePosts.length > 0){ %>
        <% for(let i=0; i<collaborativePosts.length; i++){ %>
          <section class="playlists-section">
            <div class="playlist-card">
              <div class="playlist-card-body">
                <!-- Add a link to the playlist page for each playlist -->
                <a href="/profile/playlist/<%= collaborativePosts[i]._id %>">
                  <h5 class="playlist-card-title"><%= collaborativePosts[i].title %></h5>
                </a>        
              </div>
            </div>
          </section> 
        <% } %>
      <% } %>
      </div>
    </div>
  </body>
</html>
