<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1 class="username-playlists"><%= user.name %>'s playlists</h1>

    <% if(posts.length > 0){ %>
      <% for(let i=0; i<posts.length; i++){ %>
        <section class="playlists-section">
          <div class="playlist-card">
            <div class="playlist-card-body">
              <!-- Add a link to the playlist page for each playlist -->
              <a href="/profile/playlist/<%= posts[i]._id %>">
                <h5 class="playlist-card-title"><%= posts[i].title %></h5>
              </a>
              
              <!-- Display each song in the playlist -->
              <ul class="song-list">
                <% for(let j=0; j<posts[i].songs.length; j++){ %>
                  <li><strong><%= posts[i].songs[j].name %></strong> - <%= posts[i].songs[j].artist %></li>
                <% } %>
              </ul>
              
            </div>
          </div>
        </section>
      <% } %>
    <% } %>
  </body>
</html>
